
@{
    ViewBag.Title = "CrearExpediente";
    Layout = null;
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>S I G E C A</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/css/custom.css" rel="stylesheet" />
    <!-- CSS MENU-->
    <link href="~/Content/MenuTab.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!--funcionaldad múltiple selelect-->
    <link href="~/Content/multiple-select.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom:auto">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> SIGECA </a>


                <div style="color:white; background:gray; padding: 15px 50px 5px 50px; float:right; font-size:15px;">
                    <i class="glyphicon glyphicon-user"> SIGECA </i>
                    <div id="Fecha"></div>
                    <a href="#" class="btn-dark">Salir</a>
                </div>

            </div>

        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <!-- tamaño de iconos es 32x32 se descargan en flat icon -->
                        <img src="/Imagenes/Muni.jpg" class="user-image img-responsive" />
                    </li>
                    <li>
                        <a href="@Url.Action("Menu", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/home.png" /> Inicio  </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CrearExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/consultarExpediente.png" />Crear expediente</a>
                    </li>
                    <li>
                        <a href="@Url.Action("EditarExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/user.png" />Editar expediente</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ActivarInactivarExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/user.png" /> Activar/ inactivar</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ConsultarExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/consultarExpediente.png" /> Consultar Expediente </a>
                    </li>


                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="tab">
                <!-- Esto funcionalidad está en Tabs.js -->
                <button class="tablinks" onclick="openTab(event,'IP')">Infromación personal</button>
                <button class="tablinks" onclick="openTab(event,'D')">Diagnóstico</button>
                <button class="tablinks" onclick="openTab(event,'S')">Seguimiento</button>
                <button class="tablinks" onclick="openTab(event,'A')">Ajuntar archivos</button>
            </div>

            <fieldset>
                <legend align="center"> <b>Crear expediente</b> </legend><br />
            </fieldset>

            <!-------------------------------------------- Form Información Personal----------------------------------- -->
            <div id="IP" class="tabcontent">

                <form class="well form-horizontal" action=" " method="post" id="contact_form">

                    <fieldset>
                        <legend align="center"> <b>Buscar persona</b> </legend><br /><br />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Tipo de búsqueda<font color="red">*</font></label>
                            <div class="col-md-3 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="state" class="form-control selectpicker">
                                        <option value="Identificación">Identificación</option>
                                        <option value="Nombre">Nombre</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Identificación<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                    <input name="first_name" placeholder="Nombre o identificación" class="form-control" type="text">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button type="submit" class="Boton">Buscar</button>
                            </div>
                        </div>

                    </fieldset>
                </form>

                <!-------------------------------Tabla---------------------------------------------------->

               

                    <div class="table-container">
                        <table class="table-users table" border="0">
                            <tbody>
                                <tr>
                                    <td width="10" align="center">
                                        <!-- <i class="fa fa-2x fa-user fw"></i>-->
                                    </td>
                                    <td>
                                        Brandon Hernández Elizondo<br>
                                    </td>
                                    <td>
                                       207290604
                                    </td>
                                    <td align="center">
                                        Último acceso:  09/10/2018 <br><small class="text-muted">Hace 1 día</small>
                                    </td>
                                    <td>
                                        <button type="submit" value="Nueva Cita" class="Boton" onclick="location.href='@Url.Action("FormularioInformacionPersonal", "Shared")'">Agregar</button>
                                    </td>
                                </tr>
                             
                            </tbody>
                        </table>
                    </div>
               
            
            </div> <!-----------------------------------------Fin IP--------------------------------------------->
            <!-------------------------------------------------- Form Diagnóstico ------------------------------->
            <div id="D" class="tabcontent">
                <form class="well form-horizontal" action=" " method="post" id="contact_form">

                    <fieldset>
                        <!-- Form Name -->
                        <legend align="center"> <b> Diagnóstico </b> </legend><br /><br /><br />
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label">Tipo de demanda<font color="red">*</font></label>
                            <div class="col-md-3 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="state" class="form-control selectpicker">
                                        <option value="Solicitud información">Solicitud información</option>
                                        <option value="Violencia intrafamiliar">Violencia intrafamiliar</option>
                                        <option value="Violencia en la infancia">Violencia en la infancia</option>
                                        <option value="Violencia extrafamiliar">Violencia extrafamiliar</option>
                                        <option value="Crecimiento personal">Crecimiento personal</option>
                                        <option value="Necesidades económicas">Necesidades económicas</option>
                                        <option value="Estilos de vida saludables">Estilos de vida saludables</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Referencia a otra institución</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <input name="phone" placeholder="Referencia a otra institución" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Tipo de violencia identificados</label>
                            <label class="col-md-4 control-label">Indicadores</label>
                        </div>
                        <br>

                        <div class="form-group">
                            <label class="col-md-1 control-label">Física<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="3" cols="55" name="website" placeholder="Describa los indicadores" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label">Psicológica<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="3" cols="55" name="website" placeholder="Describa los indicadores" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label">Sexual<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="3" cols="55" name="website" placeholder="Describa los indicadores" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label">Patrimonial<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="3" cols="55" name="website" placeholder="Describa los indicadores" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div id="DPA">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Datos de las personas agresoras</label>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">Nombre completo<font color="red">*</font></label>
                                    <div class="col-md-7 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input name="phone" placeholder="Nombre completo" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <label class="col-md-1 control-label">Edad<font color="red">*</font></label>
                                    <div class="col-md-2 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                            <input name="phone" placeholder="Edad" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label">Cédula<font color="red">*</font></label>
                                    <div class="col-md-3 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input name="phone" placeholder="x-xxxx-xxxx" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <label class="col-md-1 control-label">Ocupación<font color="red">*</font></label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                            <input name="phone" placeholder="Ocupación" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label">Nacionalidad<font color="red">*</font></label>
                                    <div class="col-md-3 selectContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                            <select name="state" class="form-control selectpicker">
                                                <option value="Costarricense">Costarricense</option>
                                                <option value="Nicaragüense">Nicaragüense</option>
                                                <option value="Colombiana">Colombiana/o</option>
                                                <option value="Panameña">Panameña/o</option>
                                                <option value="Salvadoreña">Salvadoreña/o</option>
                                                <option value="Cubana">Cubana/o</option>
                                                <option value="Venezolana">Venezolana/o</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                        </div>
                                    </div>

                                    <label class="col-md-1 control-label">Parentesco<font color="red">*</font></label>
                                    <div class="col-md-3 selectContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                            <select name="state" class="form-control selectpicker">
                                                <option value="Padre">Padre</option>
                                                <option value="Madre">Madre</option>
                                                <option value="Ambos padres">Ambos padres</option>
                                                <option value="Pareja">Pareja</option>
                                                <option value="Expareja">Expareja</option>
                                                <option value="Esposo/a">Esposo/a</option>
                                                <option value="Exesposo/a">Exesposo/a</option>
                                                <option value="Hijos/as">Hijos/as</option>
                                                <option value="Hermano/a">Hermano/a</option>
                                                <option value="Progenitor/a de los/as hijos/as">Progenitor/a de los/as hijos/as</option>
                                                <option value="Otros/as familiares">Otros/as familiares</option>
                                                <option value="Otras personas">Otras personas</option>
                                                <option value="Varias personas">Varias personas</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-md-4 control-label"> </label>
                                    <div class="col-md-4">
                                        <button type="button" class="btn">Generar nueva boleta</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Atención brindada<font color="red">*</font></label>
                            <div class="col-md-6 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="state" class="form-control selectpicker" multiple="multiple">
                                        <option value="Orientación">Orientación</option>
                                        <option value="Contención emocional">Contención emocional</option>
                                        <option value="Información sobre derechos, aspectos legales y servicios">Información sobre derechos, aspectos legales y servicios</option>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Referencias internas para seguimiento <font color="red">*</font></label>
                            <div class="col-md-6 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select id ="ms" name="state" class="form-control selectpicker" multiple="multiple">
                                        <option value="">Atención individual</option>
                                        <option value="">Grupo de apoyo de VIF</option>
                                        <option value="">Grupo terapéutico de VIF</option>
                                        <option value="">Grupo terapético de violencia en la infancia</option>
                                        <option value="">Grupo de codependencia</option>
                                        <option value="">Grupo de crecimiento personal</option>
                                        <option value="">Atención individual urgente</option>
                                        <option value="">Grupo estilos de vida saludables</option>
                                        <option value="">Curso liderazo femenino y promotoras</option>
                                        <option value="">Grupo hombres</option>
                                        <option value="">Grupo hombres adolescentes</option>
                                        <option value="">Grupo mujeres adolescentes</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Referencias internas</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <input name="phone" placeholder="Referencia a otra institución" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-md-8 control-label">Resumen de la situación de violencia presentada</label>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-md-3 control-label">Motivo de consulta en general<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="3" cols="55" name="website" placeholder="Motivo de consulta en general" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Secuelas de violencia vivida</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="3" cols="55" name="website" placeholder="Secuelas de violencia vivida" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Factores de riesgo y protectores identificados</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="3" cols="55" name="website" placeholder="Factores de riesgo y protectores identificados" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Intervenciones realizadas<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="3" cols="55" name="website" placeholder="Intervenciones realizadas" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Valoración en general<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="3" cols="55" name="website" placeholder="Valoración en general" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Responsable a cargo</label>
                            <div class="col-md-9 inputGroupContainer">
                                <div class="input-group">
                                    <input name="first_name" placeholder="Responsable a cargo" class="form-control" type="text" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Cargo</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="first_name" placeholder="Cargo" class="form-control" type="text" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-success" role="alert" id="success_message">¡Datos correctos!<i class="glyphicon glyphicon-ok"></i> Información guardada.</div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button type="submit" class="Boton">Guardar</button>
                            </div>
                        </div>

                    </fieldset>

                </form>

            </div> <!----------------------------------Fin Diagnóstico------------------------------------------------->

            <div id="S" class="tabcontent">
                <!-----------------------Seguimiento---------------------------------------->
                <form class="well form-horizontal" action=" " method="post" id="contact_form">

                    <fieldset>
                        <legend align="center"> <b> Bitácoras de atención individual</b> </legend><br /><br /><br />

                        <div class="form-group">
                            <label class="col-md-1 control-label">Fecha:</label>
                            <div class="col-md-4">
                                <div id="Fecha"></div>
                            </div>
                            <label class="col-md-1 control-label">Sesión:</label>
                            <div class="col-md-4">
                                <input name="first_name" placeholder="XXXX" class="form-control" type="text" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Segumiento<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="4" cols="55" name="website" placeholder="Seguimiento" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Responsable a cargo</label>
                            <div class="col-md-9 inputGroupContainer">
                                <div class="input-group">
                                    <input name="first_name" placeholder="Responsable a cargo" class="form-control" type="text" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Cargo</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="first_name" placeholder="Cargo" class="form-control" type="text" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-success" role="alert" id="success_message">¡Datos correctos!<i class="glyphicon glyphicon-ok"></i> Información guardada.</div>
                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button type="submit" class="Boton">Guardar</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div><!---------------------seguimiento------------------------------------>
            <!---------------------Adjuntos------------------------------------>

            <div id="A" class="tabcontent">
                <fieldset>
                    <legend align="center"> <b> Adjuntar archivos </b> </legend><br />
                </fieldset>
                <div class="form-group">
                    <label class="col-md-3 control-label">Consentimiento informado</label>
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <input type="submit" value="Subir imagen" name="Subir">
                </div>
                <br />
                <div class="form-group">
                    <label class="col-md-3 control-label">Referencias</label>
                    <input type="file" name="fileToUpload" id="fileToUpload" multiple>
                    <input type="submit" value="Subir imágenes" name="Subir">
                </div>
                <br />
                <div class="form-group">
                    <label class="col-md-3 control-label">Otro</label>
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <input type="submit" value="Subir imagen" name="Subir">
                </div>


            </div><!--------------------Fin adjutos--------------------------------->

        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="js/custom.js"></script>
    <script src="~/Scripts/MenuIF.js"></script>
    <script src="~/Scripts/Hora.js"></script>
    <script src="~/Scripts/Tab.js"></script>
    <script src="~/Scripts/multiple-select.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
  


</body>
</html>


