
@{
    ViewBag.Title = "EditarExpediente";
    Layout = null;
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>S I G E C A</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/css/custom.css" rel="stylesheet" />
    <!-- CSS MENU-->
    <link href="~/Content/MenuTab.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!--funcionaldad múltiple selelect-->
    <link href="~/Content/multiple-select.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom:auto">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> SIGECA </a>


                <div style="color:white; background:gray; padding: 15px 50px 5px 50px; float:right; font-size:15px;">
                    <i class="glyphicon glyphicon-user"> SIGECA </i>
                    <div id="Fecha"></div>
                    <a href="#" class="btn-dark">Salir</a>
                </div>

            </div>

        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <!-- tamaño de iconos es 32x32 se descargan en flat icon -->
                        <img src="/Imagenes/Muni.jpg" class="user-image img-responsive" />
                    </li>
                    <li>
                        <a href="@Url.Action("Menu", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/home.png" /> Inicio  </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CrearExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/consultarExpediente.png" />Crear expediente</a>
                    </li>
                    <li>
                        <a href="@Url.Action("EditarExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/user.png" />Editar expediente</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ActivarInactivarExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/user.png" /> Activar/ inactivar</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ConsultarExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/consultarExpediente.png" /> Consultar Expediente </a>
                    </li>


                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <form class="well form-horizontal" action=" " method="post" id="contact_form">

                <fieldset>
                    <legend align="center"> <b> Editar expediente</b> </legend><br /><br /><br />
                    <div class="form-group">
                        <label class="col-md-1 control-label">Tipo de identificación<font color="red">*</font></label>
                            <div class="col-md-3 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="state" class="form-control selectpicker">
                                        <option value="cedula ">Cédula</option>
                                        <option value="pasaporte">Pasaporte</option>
                                        <option value="indocumentado">Indocumentado</option>
                                    </select>
                                </div>
                            </div>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Identificación" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button type="submit" class="Boton">Buscar</button>
                        </div>
                    </div>

                </fieldset>
            </form>

            <div class="tab">
                <!-- Esto funcionalidad está en Tabs.js -->
                <button class="tablinks" onclick="openTab(event,'IP')">Infromación personal</button>
                <button class="tablinks" onclick="openTab(event,'A')">Ajuntar archivos</button>
            </div>
            <!-------------------------------------------- Form Información Personal----------------------------------- -->
            <div id="IP" class="tabcontent">

                <form class="well form-horizontal" action=" " method="post" id="contact_form">

                    <fieldset>
                        <legend align="center"> <b> Información personal </b> </legend><br /><br /><br />
                        <div class="form-group">
                            <label class="col-md-1 control-label">Nombre completo<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="first_name" placeholder="Nombre completo" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">Tipo de identificación<font color="red">*</font></label>
                            <div class="col-md-2 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="state" class="form-control selectpicker">
                                        <option value="cedula ">Cédula</option>
                                        <option value="pasaporte">Pasaporte</option>
                                        <option value="indocumentado">Indocumentado</option>
                                    </select>
                                </div>
                            </div>
                            <label class="col-md-1 control-label">Identificación</label>
                            <div class="col-md-2 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                    <input name="first_name" placeholder="10111101111" class="form-control" type="text">
                                </div>
                            </div>
                            <label class="col-md-1 control-label">Edad</label>
                            <div class="col-md-1 ">
                                <div class="input-group">
                                    <input name="email" placeholder="Edad" class="form-control" type="text" disabled>
                                </div>
                            </div>
                            <label class="col-md-1 control-label">Fecha de nacimiento<font color="red">*</font></label>
                            <div class="col-md-2 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input name="phone" placeholder="(845)555-1212" class="form-control" type="date">
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">Teléfono1<font color="red">*</font></label>
                            <div class="col-md-2 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input name="phone" placeholder="5555-12121" class="form-control" type="text">
                                </div>
                            </div>
                            <label class="col-md-1 control-label">Teléfono2</label>
                            <div class="col-md-2 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input name="phone" placeholder="5555-12121" class="form-control" type="text" required>
                                </div>
                            </div>
                            <label class="col-md-1 control-label">Teléfono3</label>
                            <div class="col-md-2 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input name="phone" placeholder="5555-12121" class="form-control" type="text">
                                </div>
                            </div>
                            <label class="col-md-1 control-label">Sexo<font color="red">*</font></label>
                            <div class="col-md-1">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="hosting" value="femenino" />Femenino
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="hosting" value="masculino" />Masculino
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        <input type="radio" name="hosting" value="otro" />Otro
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">¿Se puede dejar un mensaje?<font color="red">*</font></label>
                            <div class="col-md-1">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="hosting" value="si" />Sí
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="hosting" value="no" />No
                                    </label>
                                </div>
                            </div>
                            <label class="col-md-1 control-label">¿Con quién?</label>
                            <div class="col-md-2 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="4" cols="55" name="address" placeholder="Nombre y teléfono" class="form-control"></textarea>
                                </div>
                            </div>
                            <label class="col-md-1 control-label">Escolaridad<font color="red">*</font></label>
                            <div class="col-md-2 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="state" class="form-control selectpicker">
                                        <option value="Ninguna">Ninguna</option>
                                        <option value="Primaria completa">Primaria completa</option>
                                        <option value="Primaria incompleta">Primaria incompleta</option>
                                        <option value="Noveno completo">Noveno completo</option>
                                        <option value="Noveno incompleto">Noveno incompleto</option>
                                        <option value="Bachillerato incompleto">Bachillerato incompleto</option>
                                        <option value="Bachillerato completo">Bachillerato completo</option>
                                        <option value="Universidad incompleta">Universidad incompleta</option>
                                        <option value="Universidad completa">Universidad completa</option>
                                        <option value="Educación técnica">Educación técnica</option>
                                    </select>
                                </div>
                            </div>
                            <label class="col-md-1 control-label">Ocupación<font color="red">*</font></label>
                            <div class="col-md-3 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="state" class="form-control selectpicker">
                                        <option value="Ama de casa">Ama de casa</option>
                                        <option value="Desempleada">Desempleada</option>
                                        <option value="Pensionada">Pensionada</option>
                                        <option value="Profesional">Profesional</option>
                                        <option value="Trabajo formal">Trabajo formal</option>
                                        <option value="Trabajo informal">Trabajo informal</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Lugar de trabajo y dirección exacta<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="2" cols="55" name="website" placeholder="Lugar de trabajo y dirección exacta" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">Estado civil<font color="red">*</font></label>
                            <div class="col-md-2 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="state" class="form-control selectpicker">
                                        <option value="Casada">Casada</option>
                                        <option value="Soltera">Soltera</option>
                                        <option value="Unión de hecho">Unión de hecho</option>
                                        <option value="Separación de hecho">Separación de hecho</option>
                                        <option value="Separación judicial">Separación judicial</option>
                                        <option value="Divorciada">Divorciada</option>
                                        <option value="Viuda">Viuda</option>
                                    </select>
                                </div>
                            </div>
                            <label class="col-md-1 control-label">Nacionalidad<font color="red">*</font></label>
                            <div class="col-md-3 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="state" class="form-control selectpicker">
                                        <option value="Costarricense">Costarricense</option>
                                        <option value="Nicaragüense">Nicaragüense</option>
                                        <option value="Colombiana">Colombiana</option>
                                        <option value="Panameña">Panameña</option>
                                        <option value="Salvadoreña">Salvadoreña</option>
                                        <option value="Cubana">Cubana</option>
                                        <option value="Venezolana">Venezolana</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                            </div>
                            <label class="col-md-1 control-label">Distrito<font color="red">*</font></label>
                            <div class="col-md-2 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="state" class="form-control selectpicker">
                                        <option value="Costarricense">Alajuela</option>
                                        <option value="Nicaragüense">San José</option>
                                        <option value="Colombiana">Carrizal</option>
                                        <option value="Panameña">San Antonio</option>
                                        <option value="Salvadoreña">Guácima</option>
                                        <option value="Cubana">San Isidro</option>
                                        <option value="Venezolana">Sabanilla</option>
                                        <option value="Otro">San Rafael</option>
                                        <option value="Otro">Río segundo</option>
                                        <option value="Otro">Desamparados</option>
                                        <option value="Otro">Turrúcares</option>
                                        <option value="Otro">Tambor</option>
                                        <option value="Otro">La Garita</option>
                                        <option value="Otro">Sarapiquí</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">¿Tiene hijos (as)?<font color="red">*</font></label>
                            <div class="col-md-2">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="hosting" value="si" />Sí
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="hosting" value="no" />No
                                    </label>
                                </div>
                            </div>
                            <label class="col-md-2 control-label">Número de hijos (as) y edades</label>
                            <div class="col-md-5 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <input name="city" placeholder="Número de hijos(as) y edades" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Dirección de la vivienda<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <textarea style="text-align: center;" rows="2" cols="55" name="website" placeholder="Dirección de la vivienda" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Dirección en la que ocurrió la situación de violencia</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="2" cols="55" name="website" placeholder="Dirección en la que ocurrió la situación de violencia" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Personas con las que vive<font color="red">*</font></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <textarea style="text-align: center;" rows="2" cols="55" name="website" placeholder="Personas con las que vive" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-success" role="alert" id="success_message">¡Datos correctos!<i class="glyphicon glyphicon-ok"></i> Información guardada.</div>
                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button type="submit" class="Boton">Guardar</button>
                            </div>
                        </div>

                    </fieldset>

                </form>

            </div> <!-----------------------------------------Fin IP--------------------------------------------->
            <!---------------------Adjuntos------------------------------------>
            <div id="A" class="tabcontent">
                <div class="form-group">
                    <label class="col-md-3 control-label">Consentimiento informado</label>
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <input type="submit" value="Subir imagen" name="Subir">
                </div>
                <br />
                <div class="form-group">
                    <label class="col-md-3 control-label">Referencias</label>
                    <input type="file" name="fileToUpload" id="fileToUpload" multiple>
                    <input type="submit" value="Subir imágenes" name="Subir">
                </div>
                <br />
                <div class="form-group">
                    <label class="col-md-3 control-label">Otro</label>
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <input type="submit" value="Subir imagen" name="Subir">
                </div>


            </div><!--------------------Fin adjutos--------------------------------->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="js/custom.js"></script>
    <script src="~/Scripts/MenuIF.js"></script>
    <script src="~/Scripts/Hora.js"></script>
    <script src="~/Scripts/Tab.js"></script>
</body>
</html>

